# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
err.log

account_book.db